{% extends "base.html" %}
{% block title %}Blog - Home{% endblock %}

{% block content %}
  <div class="search-bar">
    <input type="text" id="search" placeholder="Search articles...">
    <button onclick="searchArticles()">Search</button>
  </div>
  <div class="articles-container">
    {% for article in articles %}
      <div class="article-card">
        <h2>{{ article.title }}</h2>
        <p>{{ article.content|truncatewords:20 }}...</p>
        <a href="{% url 'blog:article_detail' article.pk %}" class="button-read-more">Read more...</a>
      </div>
    {% empty %}
      <p>No article availaible.</p>
    {% endfor %}
  </div>
{% endblock %}
